$box-color: rgb(255, 255, 255);
$colors: (
  nice: #ff5733,
  yeah: #072bb8,
  woah: #eebf5c,
  yupi: rgb(255, 253, 125),
  neutral: #fff,
);

$font_family_fat: "BoldItalic";
$font_family_thin: "Raleway-Thin", sans-serif;
// -----------------------------
